@import "colors";

div#wrapper {
  div#container {
    text-align: center;
    padding-left: 10%;
    width: 90%;
    div#top_image {
      position: absolute;
      background-image: image-url('top_image.jpg');
      height: 100vh;
      width: 90vw;
      background-size: cover;
      background-position: center center;
      z-index: 9;
    }
  }
}