@import 'fonts';
@import 'colors';

div#container {
  div.gallery_top_image {
    background-image: image-url('top_image.jpg');
    height: 50vh;
    width: calc(100vw - 100px);
    background-size: cover;
    background-position: center center;
  }
  div.gallery_contents {
    text-align: center;
    width: 1000px;
    margin: 50px auto;
    h3 {
      font-family: $title;
      font-weight: 100;
      font-size: 30px;
      letter-spacing: 2px;
      color: $dark_gray;
      padding: 20px;
    }
    div.gallery_photo_image {
      img {
        width: 230px;
        height: 230px;
        margin: 5px;
        object-fit: cover;
        display: inline-block;
      }
    }
  }
}