@import "colors";

div#wrapper {
  div#container {
    .field {
      margin: 0 auto;
      width: 80%;
    }
    h1 {
      margin: 0;
      padding: 9px 6px;
      font-size: 16px;
      font-weight: normal;
      background-color: $very_dark_magenta;
      color: $light_gray;
    }
  }
}