<div class="gallery_top_image"></div>

<div class="gallery_contents">
  <h3>PHOTO GALLERY</h3>
  <div class="gallery_photo_image">
    <% @photos.each do |photo| %>
      <%= image_tag photo.image.url %>
    <% end %>
  </div>
</div>